
ace_ { background: #002240; color: white; }
ace_selected { background: #b36539; }
ace_line::selection, ace_line > div::selection, ace_line > div > div::selection { background: rgba(179, 101, 57, .99); }
ace_line::-moz-selection, ace_line > div::-moz-selection, ace_line > div > div::-moz-selection { background: rgba(179, 101, 57, .99); }
ace_gutter { background: #002240; border-right: 1px solid #aaa; }
ace_guttermarker { color: #ffee80; }
ace_guttermarker-subtle { color: #d0d0d0; }
ace_linenumber { color: #d0d0d0; }
ace_cursor { border-left: 1px solid white; }

ace_comment { color: #08f; }
ace_atom { color: #845dc4; }
ace_number, ace_attribute { color: #ff80e1; }
ace_keyword { color: #ffee80; }
ace_string { color: #3ad900; }
ace_meta { color: #ff9d00; }
ace_variable-2, ace_tag { color: #9effff; }
ace_variable-3, ace_def { color: white; }
ace_bracket { color: #d8d8d8; }
ace_builtin, ace_special { color: #ff9e59; }
ace_link { color: #845dc4; }
ace_error { color: #9d1e15; }

ace_activeline-background { background: #002D57; }
ace_matchingbracket { outline:1px solid grey;color:white !important; }
