
ace_ { background: #000000; color: #f8f8f8; }
ace_gutter { background: #0a001f; border-right: 1px solid #aaa; }
ace_guttermarker { color: #FFBD40; }
ace_guttermarker-subtle { color: #78846f; }
ace_linenumber { color: #bababa; }
ace_cursor { border-left: 1px solid white; }

ace_comment     { color: #ededed; }
ace_def         { color: #ff1c1c; font-weight:bold; }
ace_keyword     { color: #ffd900; }
ace_builtin     { color: #00d95a; }
ace_variable    { color: #73ff00; }
ace_string      { color: #007bff; }
ace_number      { color: #00c4ff; }
ace_atom        { color: #606060; }

ace_variable-2  { color: #EEE; }
ace_variable-3  { color: #DDD; }
ace_property    {}
ace_operator    {}

ace_meta        { color: yellow; }
ace_qualifier   { color: #FFF700; }
ace_bracket     { color: #cc7; }
ace_tag         { color: #FFBD40; }
ace_attribute   { color: #FFF700; }
ace_error       { color: #f00; }

ace_selected { background: #333d53; }

ace_compilation { background: rgba(255, 255, 255, 0.12); }

ace_activeline-background { background: #253540; }
