/* Taken from the popular Visual Studio Vibrant Ink Schema */

ace_ { background: black; color: white; }
ace_selected { background: #35493c; }
ace_line::selection, ace_line > div::selection, ace_line > div > div::selection { background: rgba(53, 73, 60, 0.99); }
ace_line::-moz-selection, ace_line > div::-moz-selection, ace_line > div > div::-moz-selection { background: rgba(53, 73, 60, 0.99); }
ace_gutter { background: #002240; border-right: 1px solid #aaa; }
ace_guttermarker { color: white; }
ace_guttermarker-subtle { color: #d0d0d0; }
ace_linenumber { color: #d0d0d0; }
ace_cursor { border-left: 1px solid white; }
ace_keyword { color: #CC7832; }
ace_atom { color: #FC0; }
ace_number { color:  #FFEE98; }
ace_def { color: #8DA6CE; }
ace_variable-2, ace_tag { color: #FFC66D; }
ace_variable-3, ace_def { color: #FFC66D; }
ace_operator { color: #888; }
ace_comment { color: gray; font-weight: bold; }
ace_string { color:  #A5C25C; }
ace_string-2 { color: red; }
ace_meta { color: #D8FA3C; }
ace_builtin { color: #8DA6CE; }
ace_tag { color: #8DA6CE; }
ace_attribute { color: #8DA6CE; }
ace_header { color: #FF6400; }
ace_hr { color: #AEAEAE; }
ace_link { color: blue; }
ace_error { border-bottom: 1px solid red; }
ace_activeline-background { background: #27282E; }
ace_matchingbracket { outline:1px solid grey; color:white !important; }
